
# Google OAuth 2.0 Secrets
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github OAuth 2.0 Secrets
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Github Token for Secrets workflow (OPTIONAL)
TOKEN_GITHUB=

# Coin Gekko Service URL & API Key
COINGECKO_API_KEY=

# Database URL
DATABASE_URL=

# Better-Auth Secrets (Authentication Service)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
