

# Database Env
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=
PG_PASSWORD=

# Google Client ID & Secret for OIDC
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github Client ID & Secret for OIDC
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=